<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Login</h2>
        <form action="/login" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="enter your name" required autocomplete="off" >
            </div>
            <div>
                <label for="password">password:</label>
                <input type="password" id="password" name="password" placeholder="enter your password" required>
            </div>
            <div>
                <button type="submit" >Login</button>
            </div>
        </form>
        <p>dont have account <a href="/signup">signup </a> </p>
    </div>
</body>
</html>